body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: coral; /* Set the background color of the page */
    }
    
    
    .container {
    text-align: center;
    padding: 20px;
    background-color: #fff; /* Set the background color of the container */
    border-radius: 10px; /* Add border radius for rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
    }
    
    
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0;
    }

    h1 {
        margin-bottom: 20px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 300%;
        color:white;
        text-align: center;
    }

    a {
        padding: 20px 20px;
        font-size: 20px;
        margin: 5px;
        margin-right: 20px;
        cursor: pointer;
        background-color: turquoise;
        color: white ;
        border: none;
        text-align: center;
        text-decoration: none;
        text-decoration: none;
        color: white;
        padding: 8px 12px;
        border: 1px solid white;
        border-radius: 4px;
    }

    body {
        margin: 0;
        font-family: 'Arial', sans-serif;
    }
    
    header {
        background-color: coral;
        padding: 10px;
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        width: 100%;
        top: 0;
    }
    
    .logo {
        font-size: 24px;
        font-weight: bold;
        margin-left: 20px;
    
    }
    .logout {
        text-decoration: none;
        color: white;
        padding: 8px 12px;
        border: 1px solid white;
        border-radius: 4px;
    }
    
    /* Adjust the body margin to prevent content from being hidden behind the fixed header */
    body {
        margin-top: 60px; /* Adjust this value based on the header height */
    }