<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="static/about.css">
</head>
<header>
    <div class="logo">HackHER</div>
    <div class="about">
    <a href="{{ url_for('signup') }}" class="logout">Sign Up</a>
    <a href="{{ url_for('login') }}" class="logout">Login</a>
</div>  
</header>
<body>

    <h2 style="color:white; font-size: 40px";>Why Remindify?</h2>
    <div class="text">
    <p>Practicing a habit for seven days is rooted in behavioral science, suggesting that this duration is pivotal for habit formation. The seven-day timeframe allows for neural pathways to strengthen through consistent repetition, making the behavior more automatic and integrated into daily life. This period is crucial in overcoming initial resistance and fostering a sense of accomplishment, contributing to the habit's long-term sustainability. In essence, dedicating a week to a new habit is a scientifically informed strategy to enhance its likelihood of becoming a lasting part of one's routine.</p>
    <p>Using Remindify will help you in following through with these habits, due to daily reminders and demotiviating motivating texts you will be frightened into following through with your habits.</p>
    </div>  
</body>
</html>