<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remindify</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }

        h1 {
            margin-bottom: 20px;
        }

        
    </style>
</head>
<body>
    <h1>Remindify</h1>
    <ul>
        <li><button onclick="location.href='{{ url_for('login') }}'">Go to Login Page</button></li>
        <li><button onclick="location.href='{{ url_for('signup') }}'">Go to Signup Page</button></li>
    </ul>
</body>

</html>

