<!DOCTYPE html>
<html>
   <head>
      <title>Add Account</title>
   </head>
   <body>
      <h3>Create Account</h3>
      <form action="/add" method="POST">
         <label>First Name</label>
         <input type="text" name="first_name" placeholder="first name...">
         <label>Last Name</label>
         <input type="text" name= "last_name" placeholder="last name...">
         <label>Phone Number</label>
         <input type="text" name= "phone_number" placeholder="phone number..">
         <label>Username</label>
         <input type="text" name= "phone_number" placeholder="phone number..">
         <label>Password</label>
         <input type="text" name= "password" placeholder="password">
         <button type="submit">Add</button>
      </form>
   </body>
</html>